html {
    background: 
        linear-gradient(225deg, rgba(254, 163, 170,0) 20%, rgba(254, 163, 170,.1) 20%, rgba(254, 163, 170,.1) 40%, rgba(254, 163, 170,.2) 40%, rgba(254, 163, 170,.2) 60%, rgba(254, 163, 170,.4) 60%, rgba(254, 163, 170,.4) 80%, rgba(254, 163, 170,.6) 80%),    
        linear-gradient(270deg, rgba(248, 184, 139,0) 20%, rgba(248, 184, 139,.1) 20%, rgba(248, 184, 139,.1) 40%, rgba(248, 184, 139,.2) 40%, rgba(248, 184, 139,.2) 60%, rgba(248, 184, 139,.4) 60%, rgba(248, 184, 139,.4) 80%, rgba(248, 184, 139,.6) 80%),
        linear-gradient(315deg, rgba(250, 248, 132,0) 20%, rgba(250, 248, 132,.1) 20%, rgba(250, 248, 132,.1) 40%, rgba(250, 248, 132,.2) 40%, rgba(250, 248, 132,.2) 60%, rgba(250, 248, 132,.4) 60%, rgba(250, 248, 132,.4) 80%, rgba(250, 248, 132,.6) 80%);
    background-color: rgb(235, 198, 239);
    background-size: 100% 100%;
    min-height: 100%;
    position: relative;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

main:not(.page) {
    background-color: rgb(242, 235, 235);
    margin: 7em auto;
    width: 400px;
    padding-bottom: 20px;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.3);
}

#register-main-admin {
    width: 500px !important;
}

h2, h3 {
    padding-top: 40px;
    color: #582063;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

input:not(#search, input[type="radio"]) {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 11%;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

form {
    padding-top: 30px;
}


input:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.btn {
    cursor: pointer;
    border-radius: 10% / 50%;
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, rgb(235, 198, 239), rgba(254, 163, 170, 0.7));
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    margin-left: 35%;
    margin-top: 5px;
    font-size: 14px;
    box-shadow: 0px 5px 8px 2px rgba(81, 81, 81, 0.3);
}

.btn:hover {
    background-color: #582063;
}

.message {
    /* text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12); */
    color: #d393de;
    padding-top: 15px;
    text-align: center;
}

.error {
    color: #8C55AA;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    margin-top: -10px;
}

a:not(.linkedin-info, #github-info) {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #cf98d8;
    text-decoration: none;
    font-weight: 900;
    text-decoration: underline;
}

@media (max-width: 600px) {
    main {
        border-radius: 0px;
        width: 80%;
        margin-top: 20%;
    }

    #footer-title { 
        font-size: 2em !important;
    }

    #github-info {
        margin-top: 1% !important;
        margin-left: 5% !important;
    }
    
    .linkedin-info {
        margin-left: 3.5% !important;
        margin-right: 3.5% !important;
    }

    #upload-main {
        width: 400px !important;
    }

    form #upload-btn {
        margin-left: 35% !important;
    }
}

#resources {
    min-height: .01%;
    overflow-x: auto;
}

#nav-placeholder {
    overflow: visible;
    position: sticky;
    top: 0%;
}

nav {
    margin-left: 10%;
    display: flex;
    justify-content: center;
    z-index: 1;
}

nav a {
    float: left;
    color: #6f357b !important;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none !important;
    font-size: large;
}

nav a:hover {
    background-color: rgb(235, 218, 229);;
}

nav #logout-btn {
    margin-left: auto;
    color: #6f357b;
    cursor: pointer;
    background: transparent;
    border: 0;
    font-size: large;
    font-weight: 900;
    text-decoration: underline;
    margin-right: 2%;
}

section:not(.content, .upload-section, #myProfile, #myProfile, #myResources, ) {
    display: flex;
    justify-content: center;
}

.page {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10% !important;
    padding-bottom: 20px;
}

#search {
    border-radius: 5px;
    border: 1px solid rgb(117, 115, 115) ;
    width: 35%;
    font-size: medium;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 0.5%;
    margin-left: 0.5%;
    margin-bottom: 2%;
}

table {
    table-layout: auto;
    /* min-width: 65%; */
    max-width: 85%;
    /* width: 70%; */
    color: #523A28;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0.5px 0.5px 0.5px 2px rgba(255, 255, 255, 0.6);
}

th {
    font-size: large;
    padding-left: 10px;
}

td {
    font-size: large;
    padding-top: 1%;
    padding-left: 10px;
}

tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.25);
}

.action-btn {
    cursor: pointer;
    background: transparent;
    border: 0;
    font-size: large;
    font-weight: 600;
    text-decoration: underline;
    color: #35251ab5;
}

.btn-taken {
    cursor: default;
    color: rgba(100, 64, 40, 0.4);
}

.number-cell {
    text-align: center;
}

#upload-main {
    width: 600px;
    margin-bottom: 15%;
}

.upload-section {
    display: block;
    background-color: rgb(242, 235, 235);
}

.upload-input {
    width: 100% !important;
    text-align: left !important;
    margin-left: 0% !important;
}

#link, #file {
    margin-bottom: 2% !important;
    margin-top: 1% !important;
}

#file-btn {
    background-color: rgb(242, 235, 235);
}

.link-upload {
    padding: 10px 20px;
    margin-bottom: 2%;
}

#file {
    width: 100% !important;
    background: rgb(242, 235, 235) !important;
    padding: 10px 20px;
    border: none !important;
    text-align: center;
}

.upload-label {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 550;
    font-size: 14px;
    letter-spacing: 1px;
    color: rgb(88, 87, 87);
}

fieldset {
    border: none;
    width: 80%;
    margin: auto;
}

#upper-fieldset {
    margin-bottom: 2%;
    border-bottom: solid rgb(242, 235, 235);
    box-shadow:  0 4px 4px -4px #d4c5d6; 
}

#upload-btn {
    margin-left: 60% !important;
}

h3 {
    text-align: left !important;
    margin-left: 6%;
}

#myInfo {
    margin-left: 4%;
    font-size: 18px;
}

header {
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 1;
}

footer {
    background-color: rgba(0, 0, 0, 0.05);
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#reading-girl {
    width: 8%;
}

#footer-title {
    font-size: 4em;
    font-family: Gill Sans;
    font-weight: 500;
    color: rgb(95, 2, 31);
    height: fit-content;
    margin: 0;
}

#contacts {
    display: inline-block;
    width: 20%;
    margin: 1%;
}

.linkedin-img {
    width: 30%;
}

#github-img {
    width: 30%;
    margin-left: -3%;
}

.linkedin-info, #github-info {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-60%);
    text-decoration: none;
    font-family: Gill Sans;
}

#github-info {
    margin-left: 6.5%;
}

.linkedin-info {
    margin-left: 3.5%;
}

.profiles {
    width: fit-content;
    position: relative;
    margin-bottom: 1%;
}

#github-p {
    margin-top: 2%;
}

.content, #myProfile, #myResources {
    margin-left: 5%;
}

#add-admin-btn, #upload-btn {
    margin-bottom: 5%;
}


.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.empty-message {
   color: #523A28;
   font-size: large;
   font-weight: 600;
   margin-left: 8%;
   margin-top: 5%;
}

#empty-message-myresources, #empty-message-homepage {
    margin-left: 5% !important;
}

#reg-btn {
    margin-left: 28.5% !important;
}

.response-message {
    color: rgba(99, 180, 104, 0.869);
    background-color: rgba(250, 235, 215, 0.4);
    font-family: 'Ubuntu', sans-serif;
    font-size: large;
    text-align: center;
    font-weight: 600;
}
